# Dependencies
node_modules/
.pnp
.pnp.js

# Production & Build
dist/
build/
out/

# Environment & Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System Files
.DS_Store
Thumbs.db

# Deployment & Hosting
.coolify/
.nixpacks/
.vercel/
